* {
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
    width: 100%;
}

.head_title {
    margin-left: 130px;
    width: 508px;
    height: 12%;
    color: #203993;
}


